<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUT CRUD </title>
    <link rel="stylesheet" href="../style.css">    
</head>
<body>

    <header>
        <h1>FUT CRUD APP</h1>
    </header>

    <div class="table-cointainer">
     
     <form action="/edit/<%= clubs._id %>" method="post">
         <div class="form-div">
            <input type="text" name="name" placeholder="CLUBNAME" value="<%= clubs.name %>">
            <input type="text" name="players" placeholder="PLAYERNAME"
            value="<%= clubs.players%>">
            <input type="text" name="coach" placeholder="COACHNAME"
            value="<%= clubs.coach%>">
         </div> 
        

       <button type="submit">EDIT TEAM DETAILS</button>


     </form>
 <br><br><br>
      
    </div>
    <script src="../app.js"></script>
</body>
</html>